<%- include('partials/head') %>

    <main class="container d-flex flex-column py-4">
        <!-- Welcome -->
        <div class="text-center">
            <h2 class="h1 my-4">Bienvenue sur Admin Senior Love</h2>
            <p class="lead">
                Aller go
            </p>
        </div>


    </main>



    <%- include('partials/foot') %>